<br />
<a asp-action="MakePayment"> Click here for make payment..</a> 
<br />
<a asp-controller="Balance" asp-action="CheckBalance"> Check Balance </a>
<br />
<a asp-controller="Balance" asp-action="ShowTransactions"> Show Transactions </a>
<br />
<a asp-controller="Balance" asp-action="Print"> Print </a>
<br />
<a asp-controller="Auth" asp-action="Logout"> Logout </a>
